@import 'custom.scss';
// Override default variables before the import

$body-bg: rgb(201, 191, 191);
$carousel-control-color:blue;
$carousel-caption-color:red;
$carousel-indicator-active-bg:yellow;


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';